/**
 * Dark variable overrides
 **/
/**
 * Color classes
 * The following creates this pattern:
 * .c-grey{color:#e0e0e0}.c-bg-grey{background-color:#e0e0e0}
**/
/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-white {
  color: #fff;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-white {
  background-color: #fff;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-black {
  color: #000;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-black {
  background-color: #000;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-aqua {
  color: #00caab;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-aqua {
  background-color: #00caab;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-blue {
  color: #3d5afe;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-blue {
  background-color: #3d5afe;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-charcoal {
  color: #303030;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-charcoal {
  background-color: #303030;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-brown {
  color: #795548;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-brown {
  background-color: #795548;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-forest {
  color: #006968;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-forest {
  background-color: #006968;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-grey {
  color: #e0e0e0;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-grey {
  background-color: #e0e0e0;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-grey-light {
  color: #bababa;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-grey-light {
  background-color: #bababa;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-grey-dark {
  color: #5c687c;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-grey-dark {
  background-color: #5c687c;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-purple {
  color: #8130ff;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-purple {
  background-color: #8130ff;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-lemon {
  color: #ffea00;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-lemon {
  background-color: #ffea00;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-lime {
  color: #aee406;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-lime {
  background-color: #aee406;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-orange {
  color: #f57c00;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-orange {
  background-color: #f57c00;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-ruby {
  color: #ff1744;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-ruby {
  background-color: #ff1744;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-sky {
  color: #30bcff;
}

/* line 27, ../../../node_modules/nativescript-theme-core/scss/utilities/_colors.scss */
.c-bg-sky {
  background-color: #30bcff;
}

/* Width/Height */
/* line 2, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.w-full {
  width: 100%;
}

/* line 6, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.w-100 {
  width: 100;
}

/* line 10, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.h-full {
  height: 100%;
}

/* line 14, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.h-100 {
  height: 100;
}

/**
 * Margin and Padding
 * The following creates this pattern:
 * .m-0{margin:0}.m-t-0{margin-top:0}.m-r-0{margin-right:0}.m-b-0{margin-bottom:0}.m-l-0{margin-left:0}.m-x-0{margin-right:0;margin-left:0}.m-y-0{margin-top:0;margin-bottom:0}
 * Same for Padding (using the 'p' abbreviation)
 * From 0, 2, 5, 10, 15, 20, 25, 30
**/
/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-0 {
  margin: 0;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-0 {
  margin-top: 0;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-0 {
  margin-right: 0;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-0 {
  margin-bottom: 0;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-0 {
  margin-left: 0;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-0 {
  margin-right: 0;
  margin-left: 0;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-2 {
  margin: 2;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-2 {
  margin-top: 2;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-2 {
  margin-right: 2;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-2 {
  margin-bottom: 2;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-2 {
  margin-left: 2;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-2 {
  margin-right: 2;
  margin-left: 2;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-2 {
  margin-top: 2;
  margin-bottom: 2;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-4 {
  margin: 4;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-4 {
  margin-top: 4;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-4 {
  margin-right: 4;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-4 {
  margin-bottom: 4;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-4 {
  margin-left: 4;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-4 {
  margin-right: 4;
  margin-left: 4;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-4 {
  margin-top: 4;
  margin-bottom: 4;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-5 {
  margin: 5;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-5 {
  margin-top: 5;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-5 {
  margin-right: 5;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-5 {
  margin-bottom: 5;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-5 {
  margin-left: 5;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-5 {
  margin-right: 5;
  margin-left: 5;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-5 {
  margin-top: 5;
  margin-bottom: 5;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-8 {
  margin: 8;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-8 {
  margin-top: 8;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-8 {
  margin-right: 8;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-8 {
  margin-bottom: 8;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-8 {
  margin-left: 8;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-8 {
  margin-right: 8;
  margin-left: 8;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-8 {
  margin-top: 8;
  margin-bottom: 8;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-10 {
  margin: 10;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-10 {
  margin-top: 10;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-10 {
  margin-right: 10;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-10 {
  margin-bottom: 10;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-10 {
  margin-left: 10;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-10 {
  margin-right: 10;
  margin-left: 10;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-10 {
  margin-top: 10;
  margin-bottom: 10;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-12 {
  margin: 12;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-12 {
  margin-top: 12;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-12 {
  margin-right: 12;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-12 {
  margin-bottom: 12;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-12 {
  margin-left: 12;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-12 {
  margin-right: 12;
  margin-left: 12;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-12 {
  margin-top: 12;
  margin-bottom: 12;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-15 {
  margin: 15;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-15 {
  margin-top: 15;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-15 {
  margin-right: 15;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-15 {
  margin-bottom: 15;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-15 {
  margin-left: 15;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-15 {
  margin-right: 15;
  margin-left: 15;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-15 {
  margin-top: 15;
  margin-bottom: 15;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-16 {
  margin: 16;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-16 {
  margin-top: 16;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-16 {
  margin-right: 16;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-16 {
  margin-bottom: 16;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-16 {
  margin-left: 16;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-16 {
  margin-right: 16;
  margin-left: 16;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-16 {
  margin-top: 16;
  margin-bottom: 16;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-20 {
  margin: 20;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-20 {
  margin-top: 20;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-20 {
  margin-right: 20;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-20 {
  margin-bottom: 20;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-20 {
  margin-left: 20;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-20 {
  margin-right: 20;
  margin-left: 20;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-20 {
  margin-top: 20;
  margin-bottom: 20;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-24 {
  margin: 24;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-24 {
  margin-top: 24;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-24 {
  margin-right: 24;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-24 {
  margin-bottom: 24;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-24 {
  margin-left: 24;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-24 {
  margin-right: 24;
  margin-left: 24;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-24 {
  margin-top: 24;
  margin-bottom: 24;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-25 {
  margin: 25;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-25 {
  margin-top: 25;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-25 {
  margin-right: 25;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-25 {
  margin-bottom: 25;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-25 {
  margin-left: 25;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-25 {
  margin-right: 25;
  margin-left: 25;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-25 {
  margin-top: 25;
  margin-bottom: 25;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-28 {
  margin: 28;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-28 {
  margin-top: 28;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-28 {
  margin-right: 28;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-28 {
  margin-bottom: 28;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-28 {
  margin-left: 28;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-28 {
  margin-right: 28;
  margin-left: 28;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-28 {
  margin-top: 28;
  margin-bottom: 28;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-30 {
  margin: 30;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-t-30 {
  margin-top: 30;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-r-30 {
  margin-right: 30;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-b-30 {
  margin-bottom: 30;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-l-30 {
  margin-left: 30;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-x-30 {
  margin-right: 30;
  margin-left: 30;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.m-y-30 {
  margin-top: 30;
  margin-bottom: 30;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-0 {
  padding: 0;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-0 {
  padding-top: 0;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-0 {
  padding-right: 0;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-0 {
  padding-bottom: 0;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-0 {
  padding-left: 0;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-0 {
  padding-right: 0;
  padding-left: 0;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-2 {
  padding: 2;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-2 {
  padding-top: 2;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-2 {
  padding-right: 2;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-2 {
  padding-bottom: 2;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-2 {
  padding-left: 2;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-2 {
  padding-right: 2;
  padding-left: 2;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-2 {
  padding-top: 2;
  padding-bottom: 2;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-4 {
  padding: 4;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-4 {
  padding-top: 4;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-4 {
  padding-right: 4;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-4 {
  padding-bottom: 4;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-4 {
  padding-left: 4;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-4 {
  padding-right: 4;
  padding-left: 4;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-4 {
  padding-top: 4;
  padding-bottom: 4;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-5 {
  padding: 5;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-5 {
  padding-top: 5;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-5 {
  padding-right: 5;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-5 {
  padding-bottom: 5;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-5 {
  padding-left: 5;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-5 {
  padding-right: 5;
  padding-left: 5;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-5 {
  padding-top: 5;
  padding-bottom: 5;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-8 {
  padding: 8;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-8 {
  padding-top: 8;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-8 {
  padding-right: 8;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-8 {
  padding-bottom: 8;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-8 {
  padding-left: 8;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-8 {
  padding-right: 8;
  padding-left: 8;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-8 {
  padding-top: 8;
  padding-bottom: 8;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-10 {
  padding: 10;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-10 {
  padding-top: 10;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-10 {
  padding-right: 10;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-10 {
  padding-bottom: 10;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-10 {
  padding-left: 10;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-10 {
  padding-right: 10;
  padding-left: 10;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-10 {
  padding-top: 10;
  padding-bottom: 10;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-12 {
  padding: 12;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-12 {
  padding-top: 12;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-12 {
  padding-right: 12;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-12 {
  padding-bottom: 12;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-12 {
  padding-left: 12;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-12 {
  padding-right: 12;
  padding-left: 12;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-12 {
  padding-top: 12;
  padding-bottom: 12;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-15 {
  padding: 15;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-15 {
  padding-top: 15;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-15 {
  padding-right: 15;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-15 {
  padding-bottom: 15;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-15 {
  padding-left: 15;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-15 {
  padding-right: 15;
  padding-left: 15;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-15 {
  padding-top: 15;
  padding-bottom: 15;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-16 {
  padding: 16;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-16 {
  padding-top: 16;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-16 {
  padding-right: 16;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-16 {
  padding-bottom: 16;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-16 {
  padding-left: 16;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-16 {
  padding-right: 16;
  padding-left: 16;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-16 {
  padding-top: 16;
  padding-bottom: 16;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-20 {
  padding: 20;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-20 {
  padding-top: 20;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-20 {
  padding-right: 20;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-20 {
  padding-bottom: 20;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-20 {
  padding-left: 20;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-20 {
  padding-right: 20;
  padding-left: 20;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-20 {
  padding-top: 20;
  padding-bottom: 20;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-24 {
  padding: 24;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-24 {
  padding-top: 24;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-24 {
  padding-right: 24;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-24 {
  padding-bottom: 24;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-24 {
  padding-left: 24;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-24 {
  padding-right: 24;
  padding-left: 24;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-24 {
  padding-top: 24;
  padding-bottom: 24;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-25 {
  padding: 25;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-25 {
  padding-top: 25;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-25 {
  padding-right: 25;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-25 {
  padding-bottom: 25;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-25 {
  padding-left: 25;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-25 {
  padding-right: 25;
  padding-left: 25;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-25 {
  padding-top: 25;
  padding-bottom: 25;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-28 {
  padding: 28;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-28 {
  padding-top: 28;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-28 {
  padding-right: 28;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-28 {
  padding-bottom: 28;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-28 {
  padding-left: 28;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-28 {
  padding-right: 28;
  padding-left: 28;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-28 {
  padding-top: 28;
  padding-bottom: 28;
}

/* line 98, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-30 {
  padding: 30;
}

/* line 100, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-t-30 {
  padding-top: 30;
}

/* line 101, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-r-30 {
  padding-right: 30;
}

/* line 102, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-b-30 {
  padding-bottom: 30;
}

/* line 103, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-l-30 {
  padding-left: 30;
}

/* line 106, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-x-30 {
  padding-right: 30;
  padding-left: 30;
}

/* line 111, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.p-y-30 {
  padding-top: 30;
  padding-bottom: 30;
}

/* Dividers */
/* line 120, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.hr-light {
  height: 1;
  background-color: #e0e0e0;
  width: 100%;
}

/* line 126, ../../../node_modules/nativescript-theme-core/scss/utilities/_spacing.scss */
.hr-dark {
  height: 1;
  background-color: #303030;
  width: 100%;
}

/* Alignment */
/* line 2, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.text-left {
  text-align: left;
}

/* line 6, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.text-right {
  text-align: right;
}

/* line 10, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.text-center {
  text-align: center;
}

/* line 16, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.text-lowercase {
  text-transform: lowercase;
}

/* line 17, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 18, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.text-capitalize {
  text-transform: capitalize;
}

/* line 22, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.font-weight-normal {
  font-weight: normal;
}

/* line 23, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.font-weight-bold {
  font-weight: bold;
}

/* line 24, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.font-italic {
  font-style: italic;
}

/**
 * Font size
 * The following creates this pattern:
 * .t-10{font-size:10}
 * From 10, 12, 14, 15, 16, 17, 18, 19, 20
**/
/* line 75, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.t-10 {
  font-size: 10;
}

/* line 75, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.t-12 {
  font-size: 12;
}

/* line 75, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.t-14 {
  font-size: 14;
}

/* line 75, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.t-15 {
  font-size: 15;
}

/* line 75, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.t-16 {
  font-size: 16;
}

/* line 75, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.t-17 {
  font-size: 17;
}

/* line 75, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.t-18 {
  font-size: 18;
}

/* line 75, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.t-19 {
  font-size: 19;
}

/* line 75, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.t-20 {
  font-size: 20;
}

/* line 75, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.t-25 {
  font-size: 25;
}

/* line 75, ../../../node_modules/nativescript-theme-core/scss/utilities/_text.scss */
.t-30 {
  font-size: 30;
}

/* line 5, ../../../node_modules/nativescript-theme-core/scss/utilities/_bootstrap.scss */
.img-rounded {
  border-radius: 5;
}

/* line 9, ../../../node_modules/nativescript-theme-core/scss/utilities/_bootstrap.scss */
.img-circle {
  border-radius: 20;
}

/* line 13, ../../../node_modules/nativescript-theme-core/scss/utilities/_bootstrap.scss */
.img-thumbnail {
  border-radius: 0;
}

/* line 17, ../../../node_modules/nativescript-theme-core/scss/utilities/_bootstrap.scss */
.invisible {
  visibility: collapse;
}

/* line 21, ../../../node_modules/nativescript-theme-core/scss/utilities/_bootstrap.scss */
.pull-left {
  horizontal-align: left;
}

/* line 25, ../../../node_modules/nativescript-theme-core/scss/utilities/_bootstrap.scss */
.pull-right {
  horizontal-align: right;
}

/* line 30, ../../../node_modules/nativescript-theme-core/scss/utilities/_bootstrap.scss */
.m-x-auto {
  horizontal-align: center;
}

/* line 35, ../../../node_modules/nativescript-theme-core/scss/utilities/_bootstrap.scss */
.m-y-auto {
  vertical-align: center;
}

/* line 40, ../../../node_modules/nativescript-theme-core/scss/utilities/_bootstrap.scss */
.text-primary {
  color: #30bcff;
}

/* line 44, ../../../node_modules/nativescript-theme-core/scss/utilities/_bootstrap.scss */
.text-danger {
  color: #d50000;
}

/* line 48, ../../../node_modules/nativescript-theme-core/scss/utilities/_bootstrap.scss */
.text-muted {
  color: gray;
}

/* line 52, ../../../node_modules/nativescript-theme-core/scss/utilities/_bootstrap.scss */
.bg-primary {
  background-color: #30bcff;
  color: #fff;
}

/* line 57, ../../../node_modules/nativescript-theme-core/scss/utilities/_bootstrap.scss */
.bg-danger {
  background-color: #d50000;
  color: #fff;
}

/* line 1, ../../../node_modules/nativescript-theme-core/scss/_action-bar.scss */
.action-bar {
  background-color: #303030;
  color: #fff;
}
/* line 5, ../../../node_modules/nativescript-theme-core/scss/_action-bar.scss */
.action-bar .action-bar-title {
  font-weight: bold;
  font-size: 17;
  vertical-align: center;
}
/* line 11, ../../../node_modules/nativescript-theme-core/scss/_action-bar.scss */
.action-bar .action-item {
  font-weight: normal;
}

/* line 1, ../../../node_modules/nativescript-theme-core/scss/_activity-indicator.scss */
.activity-indicator {
  color: #30bcff;
  width: 30;
  height: 30;
}

/* line 1, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn {
  color: #30bcff;
  background-color: transparent;
  min-height: 36;
  min-width: 64;
  padding: 10 10 10 10;
  font-size: 18;
  margin: 8 16 8 16;
}
/* line 7, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn.btn-active:highlighted {
  color: #fff;
  background-color: #c0ebff;
}

/* line 15, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-primary {
  background-color: #30bcff;
  border-color: #30bcff;
  color: #fff;
}
/* line 20, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-primary.btn-active:highlighted {
  background-color: #01a0ec;
  border-color: #01a0ec;
}
/* line 25, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-primary.btn-aqua {
  background-color: #00caab;
}
/* line 29, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-primary.btn-blue {
  background-color: #3d5afe;
}
/* line 33, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-primary.btn-brown {
  background-color: #795548;
}
/* line 37, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-primary.btn-forest {
  background-color: #006968;
}
/* line 41, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-primary.btn-grey {
  background-color: #5c687c;
}
/* line 45, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-primary.btn-lemon {
  background-color: #ffea00;
  color: #000;
}
/* line 50, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-primary.btn-lime {
  background-color: #aee406;
  color: #000;
}
/* line 55, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-primary.btn-orange {
  background-color: #f57c00;
}
/* line 59, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-primary.btn-purple {
  background-color: #8130ff;
}
/* line 63, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-primary.btn-ruby {
  background-color: #ff1744;
}
/* line 67, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-primary.btn-sky {
  background-color: #30bcff;
}

/* line 72, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-outline {
  background-color: transparent;
  border-color: #30bcff;
  color: #30bcff;
}
/* line 77, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn-outline.btn-active:highlighted {
  background-color: #c0ebff;
}

/* line 82, ../../../node_modules/nativescript-theme-core/scss/_buttons.scss */
.btn[isEnabled=false] {
  color: #a4a4a4;
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

/* line 1, ../../../node_modules/nativescript-theme-core/scss/_icons.scss */
.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

/* line 3, ../../../node_modules/nativescript-theme-core/scss/_forms.scss */
.form .input {
  padding: 16 8 16 8;
  background-color: transparent;
}
/* line 7, ../../../node_modules/nativescript-theme-core/scss/_forms.scss */
.form .input.input-border {
  border-width: 1;
  border-color: #e0e0e0;
  border-radius: 2;
  padding: 16;
}
/* line 14, ../../../node_modules/nativescript-theme-core/scss/_forms.scss */
.form .input.input-rounded {
  border-width: 1;
  border-color: #e0e0e0;
  border-radius: 28;
  padding: 16;
}
/* line 21, ../../../node_modules/nativescript-theme-core/scss/_forms.scss */
.form .input[isEnabled='false'] {
  background-color: #fafafa;
}
/* line 26, ../../../node_modules/nativescript-theme-core/scss/_forms.scss */
.form .input-field {
  margin: 8;
}
/* line 29, ../../../node_modules/nativescript-theme-core/scss/_forms.scss */
.form .input-field .label {
  font-size: 12;
  color: #bababa;
}
/* line 34, ../../../node_modules/nativescript-theme-core/scss/_forms.scss */
.form .input-field .input {
  padding: 0;
  margin: 0 0 8 0;
}
/* line 41, ../../../node_modules/nativescript-theme-core/scss/_forms.scss */
.form .input-field .hr-light.active,
.form .input-field .hr-dark.active {
  background-color: #30bcff;
}
/* line 48, ../../../node_modules/nativescript-theme-core/scss/_forms.scss */
.form .input-field.input-sides .label {
  font-size: 18;
  margin: 0 0 8 0;
}

/* line 1, ../../../node_modules/nativescript-theme-core/scss/_labels.scss */
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 4;
  font-weight: normal;
  color: #fff;
}

/* line 7, ../../../node_modules/nativescript-theme-core/scss/_labels.scss */
.body,
.body2,
.footnote {
  font-weight: normal;
  color: #b3b3b3;
}

/* line 14, ../../../node_modules/nativescript-theme-core/scss/_labels.scss */
.h1 {
  font-size: 32;
}

/* line 18, ../../../node_modules/nativescript-theme-core/scss/_labels.scss */
.h2 {
  font-size: 22;
}

/* line 22, ../../../node_modules/nativescript-theme-core/scss/_labels.scss */
.h3 {
  font-size: 15;
}

/* line 26, ../../../node_modules/nativescript-theme-core/scss/_labels.scss */
.h4 {
  font-size: 12;
}

/* line 30, ../../../node_modules/nativescript-theme-core/scss/_labels.scss */
.h5 {
  font-size: 11;
}

/* line 34, ../../../node_modules/nativescript-theme-core/scss/_labels.scss */
.h6 {
  font-size: 10;
}

/* line 38, ../../../node_modules/nativescript-theme-core/scss/_labels.scss */
.body {
  font-size: 14;
}

/* line 42, ../../../node_modules/nativescript-theme-core/scss/_labels.scss */
.body2 {
  font-size: 17;
}

/* line 46, ../../../node_modules/nativescript-theme-core/scss/_labels.scss */
.footnote {
  font-size: 13;
}

/* line 2, ../../../node_modules/nativescript-theme-core/scss/_list-view.scss */
.list-group .list-group-item {
  color: #fff;
  font-size: 16;
  margin: 0;
  padding: 16;
}
/* line 8, ../../../node_modules/nativescript-theme-core/scss/_list-view.scss */
.list-group .list-group-item Label {
  vertical-align: center;
}
/* line 12, ../../../node_modules/nativescript-theme-core/scss/_list-view.scss */
.list-group .list-group-item .thumb {
  stretch: fill;
  width: 40;
  height: 40;
  margin-right: 16;
}
/* line 19, ../../../node_modules/nativescript-theme-core/scss/_list-view.scss */
.list-group .list-group-item.active {
  background-color: #e0e0e0;
}
/* line 26, ../../../node_modules/nativescript-theme-core/scss/_list-view.scss */
.list-group .list-group-item .list-group-item-text {
  color: #b3b3b3;
  font-size: 14;
}

/* line 1, ../../../node_modules/nativescript-theme-core/scss/_page.scss */
.page {
  background-color: #303030;
}

/* line 1, ../../../node_modules/nativescript-theme-core/scss/_progress.scss */
.progress {
  color: #30bcff;
  background-color: #bababa;
}

/* line 1, ../../../node_modules/nativescript-theme-core/scss/_segmented-bar.scss */
.segmented-bar {
  font-size: 13;
  background-color: #303030;
  color: #fff;
  selected-background-color: #30bcff;
}

/* line 1, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-left, .sidedrawer-center {
  background-color: #303030;
}

/* line 5, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-header {
  background-color: #30bcff;
  height: 148;
  width: 100%;
}

/* line 11, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-left .sidedrawer-header {
  padding: 16 16 0 16;
}

/* line 15, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-center .sidedrawer-header {
  padding: 20 15 0 15;
}

/* line 19, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-header-image {
  background-color: #e0e0e0;
}

/* line 23, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-left .sidedrawer-header-image {
  height: 64;
  width: 64;
  border-radius: 32;
  horizontal-align: left;
  margin-bottom: 36;
}

/* line 31, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-center .sidedrawer-header-image {
  height: 74;
  width: 74;
  border-radius: 37;
  horizontal-align: center;
  margin-bottom: 24;
}

/* line 39, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-header-brand {
  color: #fff;
}

/* line 43, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-left .sidedrawer-header-brand {
  horizontal-align: left;
  font-size: 14;
}

/* line 48, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-center .sidedrawer-header-brand {
  horizontal-align: center;
  font-size: 15;
}

/* line 53, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-list-item {
  height: 48;
  horizontal-align: left;
  width: 100%;
  orientation: horizontal;
}
/* line 59, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-list-item .sidedrawer-list-item-icon {
  width: 24;
  text-align: center;
  font-size: 20;
  height: 48;
  vertical-align: center;
}
/* line 67, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-list-item.active {
  color: #30bcff;
  background-color: #2b2b2b;
}
/* line 71, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-list-item.active .sidedrawer-list-item-icon {
  color: #fff;
}

/* line 77, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-left .sidedrawer-list-item-icon {
  margin: 0 16 0 16;
}

/* line 81, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-center .sidedrawer-list-item-icon {
  margin: 0 0 0 15;
}

/* line 85, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-list-item-text {
  horizontal-align: left;
  text-align: left;
  font-size: 15;
  background-color: transparent;
  border-width: 0.1;
  width: 80%;
  vertical-align: center;
}

/* line 95, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-left .sidedrawer-list-item-text {
  padding-left: 16;
}

/* line 99, ../../../node_modules/nativescript-theme-core/scss/_side-drawer.scss */
.sidedrawer-center .sidedrawer-list-item-text {
  padding-left: 15;
}

/* line 1, ../../../node_modules/nativescript-theme-core/scss/_slider.scss */
.slider {
  background-color: #30bcff;
}
/* line 4, ../../../node_modules/nativescript-theme-core/scss/_slider.scss */
.slider[isEnabled=false] {
  background-color: #e0e0e0;
  color: #e0e0e0;
}

/* line 2, ../../../node_modules/nativescript-theme-core/scss/_switch.scss */
.switch[checked=true] {
  background-color: #30bcff;
}
/* line 6, ../../../node_modules/nativescript-theme-core/scss/_switch.scss */
.switch[checked=true][isEnabled=false] {
  background-color: #e0e0e0;
  color: #fff;
}
/* line 11, ../../../node_modules/nativescript-theme-core/scss/_switch.scss */
.switch[isEnabled=false] {
  background-color: #e0e0e0;
  color: #e0e0e0;
}

/* line 1, ../../../node_modules/nativescript-theme-core/scss/_tabs.scss */
.tab-view {
  /*color: $secondary;*/
  selected-color: #30bcff;
  tabs-background-color: #303030;
}
/* line 8, ../../../node_modules/nativescript-theme-core/scss/_tabs.scss */
.tab-view .tab-view-item {
  background-color: #303030;
  tabs-background-color: #303030;
}

/* line 1, ../../../node_modules/nativescript-theme-core/scss/_login.scss */
#login-background {
  margin-top: -20;
  background-size: cover;
  background-position: center;
}

/* line 7, ../../../node_modules/nativescript-theme-core/scss/_login.scss */
.login-wrap {
  padding: 0 40;
}

/* line 11, ../../../node_modules/nativescript-theme-core/scss/_login.scss */
.logo-wrap {
  margin: 60 0 10 0;
  padding: 20 0;
}
/* line 15, ../../../node_modules/nativescript-theme-core/scss/_login.scss */
.logo-wrap .login-logo {
  text-align: center;
  font-size: 30;
  font-weight: bold;
  margin-bottom: 10;
  opacity: 1;
  color: #fff;
  opacity: .9;
}
/* line 25, ../../../node_modules/nativescript-theme-core/scss/_login.scss */
.logo-wrap .login-logo-sub {
  color: #fff;
  opacity: .8;
  text-align: center;
}

/* line 32, ../../../node_modules/nativescript-theme-core/scss/_login.scss */
.login-wrapper {
  padding: 20;
  background-color: #fff;
  border-radius: 3;
}
/* line 37, ../../../node_modules/nativescript-theme-core/scss/_login.scss */
.login-wrapper TextField {
  padding: 10 10;
  margin: 10 0 0 0;
}

/* line 43, ../../../node_modules/nativescript-theme-core/scss/_login.scss */
.go-back {
  font-size: 14;
  text-align: center;
  color: #fff;
  margin-top: 10;
}

/* line 3, ../../../node_modules/nativescript-theme-core/scss/skins/dark/_action-bar.scss */
.action-bar .action-bar-title {
  color: #fff;
}
/* line 7, ../../../node_modules/nativescript-theme-core/scss/skins/dark/_action-bar.scss */
.action-bar .action-item {
  color: #fff;
}

/* line 4, ../../../node_modules/nativescript-theme-core/scss/skins/dark/_forms.scss */
.form .input[isEnabled='false'] {
  background-color: #303030;
}

/* line 1, ../../../node_modules/nativescript-theme-core/scss/skins/dark/_list-view.scss */
.list-group {
  background-color: #303030;
}
/* line 4, ../../../node_modules/nativescript-theme-core/scss/skins/dark/_list-view.scss */
.list-group .list-group-item {
  background-color: #303030;
}

/* line 1, ../../../scss/stylesheets/_common.scss */
.primary-color {
  color: #6200EE;
}

/* line 4, ../../../scss/stylesheets/_common.scss */
.primary-variant-color {
  color: #3700B3;
}

/* line 8, ../../../scss/stylesheets/_common.scss */
.secondary-color {
  color: #03DAC6;
}

/* line 11, ../../../scss/stylesheets/_common.scss */
.secondary-variant-color {
  color: #018786;
}

/* line 15, ../../../scss/stylesheets/_common.scss */
.btn {
  font-size: 15;
  text-transform: none;
  padding-left: 10;
  padding-right: 10;
}

/* line 22, ../../../scss/stylesheets/_common.scss */
.item-selected {
  background-color: #6200EE;
}
/* line 25, ../../../scss/stylesheets/_common.scss */
.item-selected Label {
  color: #ffffff;
}
