.primary-color {
    color: $primary-bg;
}
.primary-variant-color {
    color: $primary-variant-bg;
}

.secondary-color {
    color: $secondary-bg;
}
.secondary-variant-color {
    color: $secondary-variant-bg;
}

.btn {
    font-size: 15;
    text-transform: none;
    padding-left: 10;
    padding-right: 10; 
}

.item-selected {
    background-color: $primary-bg;

    Label {
        color: $primary-color;
    }
}